{% extends "base.html" %}

{% block title %}Hubble Plugins{% endblock %}

{% block content %}

<div class="hero-unit">
  <h1>Hubble Plugins</h1>
  <p>Read the docs at <a href="http://github.com/Data2Semantics/plugins">http://github.com/Data2Semantics/plugins</a></p>
  <p><a class="btn btn-primary btn-large" href="http://github.com/Data2Semantics/plugins">Learn more &raquo;</a></p>

</div>
<div class="row">
	<div class="span6">
		<h3>MASCC Index plugin</h3>

		<p>This plugin takes a Turtle representation of a patient (expressed using the <a href="https://github.com/Data2Semantics/raw2ld/blob/master/vocab/patient_vocab.owl">Patient Ontology</a>), and interprets the values for the <code>po:hasIndication</code>, <code>po:hadPreviousIndication</code>, <code>po:burdenOfIllness</code> and <code>po:patientStatus</code> properties to determine the <strong>MASCC</strong> index for that patient. </p>

		<p>The <strong>MASCC</strong> index gives an estimation whether the patient is a <code>po:highRisk</code> patient or not, in the case of <a href="http://aers.data2semantics.org/resource/indication/FEBRILE_NEUTROPENIA">Febrile Neutropenia</a>. We take the MASCC score as defined in "<a href="http://dx.doi.org/doi:10.1093/annonc/mdp163">Management of febrile neutropenia: ESMO Clinical Recommendations</a>".</p>

		<p>The plugin outputs an "enriched" version of the patient record, including the MASCC score, the inference that the patient has Febrile Neutropenia, and a conclusion as to whether the patient is <code>po:highRisk</code> or not. </p>

		<ul>
		<li>Only works for Turtle serializations containing a <em>single</em> patient</li>
		<li>Only works for patients that are both Febrile and have Neutropenia</li>
		<li>Only works if these diagnoses are expressed using UMLS codes from the <a href="http://linkedlifedata.com">Linked Life Data</a> repository.</li>
		</ul><h4>Testing</h4>

		<p>You can test whether the plugin works at these test URLs:</p>

		<ul>
		<li>
		<a href="http://semweb.cs.vu.nl/plugins/test/mascc/john_doe">http://semweb.cs.vu.nl/plugins/test/mascc/john_doe</a><br>
		computes the score for John Doe</li>
		<li>
		<a href="http://semweb.cs.vu.nl/plugins/test/mascc/two_patients">http://semweb.cs.vu.nl/plugins/test/mascc/two_patients</a><br><strong>ERROR</strong>: expects only a single patient</li>
		<li>
		<a href="http://semweb.cs.vu.nl/plugins/test/mascc/no_neutropenia">http://semweb.cs.vu.nl/plugins/test/mascc/no_neutropenia</a><br><strong>ERROR</strong>: the patient does not have Febrile Neutropenia</li>
		</ul>
	</div>
	<div class="span6">
		<h3>Publications plugin</h3>

		<p>This plugin takes a Turtle representation of a patient (expressed using the <a href="https://github.com/Data2Semantics/raw2ld/blob/master/vocab/patient_vocab.owl">Patient Ontology</a>) and uses the values for the <code>po:hasIndication</code>, <code>po:hasMeasurement</code>, <code>po:usesMedication</code>, <code>po:hadPreviousIndication</code> and <code>po:hadRecentTreatment</code> properties to find related publications as listed in the <a href="http://linkedlifedata.com">Linked Life Data</a> (LLD) repository.</p>

		<p>The plugin first calls the AERS-LD dataset to find the equivalent identifiers for these resources that LLD uses to connect to publications (<a href="http://www.ncbi.nlm.nih.gov/pubmed/">PubMed</a> identifiers). </p>

		<p>The plugin orders the results by frequency, and returns a JSON representation of pairs of PubMed identifiers (in LLD) and frequency.</p>

		<ul>
		<li>Only works for Turtle serializations containing a <em>single</em> patient</li>
		</ul><h4>Testing</h4>

		<p>You can test whether the plugin works at these test URLs:</p>

		<ul>
		<li>
		<a href="http://semweb.cs.vu.nl/plugins/test/publications/john_doe">http://semweb.cs.vu.nl/plugins/test/publications/john_doe</a><br>
		Returns the top 50 relevant publications related to John Doe</li>
		<li>
		<a href="http://semweb.cs.vu.nl/plugins/test/publications/two_patients">http://semweb.cs.vu.nl/plugins/test/publications/two_patients</a><br><strong>ERROR</strong>: expects only a single patient</li>
		<li>
		<a href="http://semweb.cs.vu.nl/plugins/test/publications/no_neutropenia">http://semweb.cs.vu.nl/plugins/test/publications/no_neutropenia</a><br>
		Returns the top 50 relevant publications related to John Doe (without FN)</li>
		</ul>
	</div>
</div>

{% endblock %}